<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
    <base href="<%= htmlWebpackPlugin.options.publicDir %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" href="style/fonts-awesome/fontawesome-all.min.css">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/react-datepicker.min.css">
</head>

<body>
    <div id="container"></div>
</body>

</html>