body {
    padding-top: 50px;
}

h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

/* Placeholders */

.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.bg-faded {
    background-color: #f7f7f7;
}

.alert-fixed {
    position: fixed;
    left: 10%;
    right: 10%;
    top: 50px;
    z-index: 1040;
    box-shadow: 0 0 15px rgba(0,0,0, 0.45);
}

.alert-dismissible {
    padding-right: 4rem;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .75rem 1.25rem;
    color: inherit;
}
.cursor-pointer{
    cursor: pointer;
}

.no-border{
    border:none;
}

.table-hover tbody tr:hover {
    background-color: #f6f7f9;
}

/*#e9ecef*/

.table-border-bottom td{
    border-top: 0;
    border-bottom: 1px solid #dee2e6;

}
